<?xml version="1.0" encoding="utf-8" ?>
<!--日志配置格式如下-->
<log4net>
  <appender name="LogFileAppender" type="log4net.Appender.RollingFileAppender">
    <!--定义文件存放位置-->
    <param name="File" value="bin\\Logs\\WallE.log" />
    <param name="AppendToFile" value="true" />
    <param name="MaxFileSize" value="10240" />
    <param name="MaxSizeRollBackups" value="100" />
    <param name="StaticLogFileName" value="false" />
    <param name="RollingStyle" value="Date" />
    <layout type="log4net.Layout.PatternLayout">
      <!--每条日志末尾的文字说明-->
      <footer value="******************************************** /n" />
      <!--输出格式-->
      <conversionPattern value="%d[%t] %-5p - %m%n"/>
    </layout>
  </appender>
  
  <!--定义输出到控制台命令行中-->
  <appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender">
    <layout type="log4net.Layout.PatternLayout">
      <!--输出格式-->
      <conversionPattern value="%d [%t] Level:%-5p - %m%n"/>
    </layout>
  </appender>
  
  <!--定义日志的输出媒介，下面定义日志以2种方式输出。也可以下面的按照一种类型或其他类型输出。-->
  <root>
    <!--<level value="DEBUG"/>-->
    <!--文件形式记录日志-->
    <appender-ref ref="LogFileAppender" />
    <!--控制台控制显示日志-->
    <appender-ref ref="ConsoleAppender" />
  </root>
</log4net>