<div class="portal-main clearfix">
  <div class="user-card">
    <h2 class="username">{{currentUser.RealName}}</h2>
    <p class="tip">您好！</p>
    <!--<a class="link" routerLink="#">修改个人信息></a>-->
    <img class="avatar" src="{{currentUser.Avatar}}" width="150" height="150" alt="169892323">
  </div>
  <div class="user-actions">
    <ul class="action-list">
      <!--<li>账户安全：<span class="level level-3">较高</span></li>-->
      <li>绑定手机：<span class="tel">{{currentUser.PhoneNumber}}</span></li>

      <li>绑定邮箱：<span class="tel">{{currentUser.Email}}</span></li>
    </ul>
  </div>
</div>
<!--个人信息状态-->
<div class="portal-sub">
  <ul class="info-list clearfix">
    <li>
      <h3>我的应用</h3>
      <a routerLink="../userapps" class="uc-statue-a">查看当前应用<i class="glyphicon glyphicon-menu-right"></i></a>
      <img src="../../../assets/imgs/myapps.png" alt="">
    </li>
    <!--<li>
      <h3>待支付的订单：<span class="num">0</span></h3>
      <a routerLink="#" class="uc-statue-a">查看待支付订单<i class="glyphicon glyphicon-menu-right"></i></a>
      <img src="//s01.mifile.cn/i/user/portal-icon-1.png" alt="">
    </li>-->
    <!--<li>
      <h3>待审核的订单：<span class="num">0</span></h3>
      <a routerLink="#" class="uc-statue-a">查看待审核订单<i class="glyphicon glyphicon-menu-right"></i></a>
      <img src="//s01.mifile.cn/i/user/portal-icon-2.png" alt="">
    </li>
    <li>
      <h3>待评价应用数：<span class="num">0</span></h3>
      <a routerLink="#" class="uc-statue-a">查看待评价应用<i class="glyphicon glyphicon-menu-right"></i></a>
      <img src="//s01.mifile.cn/i/user/portal-icon-3.png" alt="">
    </li>
    <li>
      <h3>喜欢的应用：<span class="num">0</span></h3>
      <a routerLink="#" class="uc-statue-a">查看喜欢的应用<i class="glyphicon glyphicon-menu-right"></i></a>
      <img src="//s01.mifile.cn/i/user/portal-icon-4.png" alt="">
    </li>-->
  </ul>
</div>
