<div class="row">
  <div class="col-xs-3">
    <div class="uc-box uc-sub-box">
      <!--ul列表-->
      <div class="uc-nav-box">
        <div class="box-hd">
          <h3 class="title">个人中心</h3>
        </div>
        <ul class="uc-nav-list">
          <li><a routerLink="userinfo"><span class="glyphicon glyphicon-user"></span> 我的个人中心</a></li>
        </ul>
      </div>
      <!--ul列表-->
      <div class="uc-nav-box">
        <div class="box-hd">
          <h3 class="title">应用中心</h3>
        </div>
        <ul class="uc-nav-list">
          <li><a routerLink="userapps"><span class="glyphicon glyphicon-th-list"></span> 我的应用</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="col-xs-9">
    <div class="uc-box uc-main-box">
      <div class="uc-content-box portal-content-box">
        <div class="box-bd">
          <!--这里是左侧动态加载的内容-->
          <router-outlet></router-outlet>
        </div>
      </div>
    </div>
  </div>
</div>
